<h1>Orlando.io</h1>
<h2>Connecting the Orlando technology, creative, business community</h2>


<%= link_to new_user_registration_path do %>
  <button class="btn btn-primary btn-lg">
    &laquo; Add your name &raquo;
  </button>
<% end %>

