<div class="container">
      <!-- Example row of columns -->
      <div class="row">
      <%  @users.each do |user| %>
        <div class="col-md-4">
          <h1><%= link_to user.full_name, user %>

            </h1>
          <%= image_tag user.avatar(:medium) %><br/>
          <h4><%= user.category.upcase %></h4>
        </div>
      <% end %>
      </div>
    
