<div class="container">
  
  <br/>
  <h1><%= @user.full_name %></h1>
  <h1><%= @user.category %></h1>
  <%= image_tag @user.avatar(:large) %><br/>


  <% if current_user %>
    hello
  <% end %>
</div>
