<div class="container">
  <div class="row">
    <h1>Join the Community</h1>
    <br/>
  </div>

 <div id="tag_cloud">
    <% tag_cloud Profile.tag_counts, %w[s m l ] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
    
<div class="row profile-list">
    <%  @users.each do |user| %>
      <div class="col-xs-6 col-sm-4">
        <h1><%= link_to user.full_name, profile_path(user) %></h1>
        <%= image_tag user.profile.avatar(:medium) %><br/>
        <h4><% user.profile.category %></h4>
      </div>
    <% end %>
    </div>
    <!-- Need to get @Users working again?  -->
    <% paginate @users %>
</div>


